<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Plan Your Meals</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: iPortfolio - v1.2.1
  * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

    <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <a href="index.html">
          <img src="assets/img/portfolio/capa1_mod.jpg" alt="" class="img-fluid rounded-circle">
          <h1 class="text-light">Vasco Gomes</h1>
        </a>
        <!--<div class="social-links mt-3 text-center">
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>-->
      </div>

      <nav class="nav-menu">
        <ul>
          <li class="active"><a href="#breadcrumbs"><i class="icofont-swoosh-up"></i> <span>Topo da Página</span></a></li>
          <li><a href="#details"><i class="icofont-file-alt"></i> <span>Detalhes do Projeto</span></a></li>
          <li><a href="#draw"><i class="icofont-ruler-pencil-alt-1"></i> <span>Relatório Desenho e Análise</span></a></li>
          <li><a href="#implementation"><i class="icofont-file-code"></i> <span>Relatório Implementação</span></a></li>
          <li><a href="#youtube"><i class="icofont-youtube-play"></i> <span>Video Demonstrativo</span></a></li>
          <li><a href="" onclick="history.back()"><i class="icofont-swoosh-left"></i> <span>Voltar a Projetos</span></a></li>
          <!--<li><a href="" onclick="changeDarkMode()"><i class="bx bx-moon"></i> Dark Mode</a></li>-->
          

        </ul>
      </nav><!-- .nav-menu -->
      <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Plan Your Meals</h2>
          <ol>
            <li><a href="index.html">Início</a></li>
            <li>Plan Your Meals</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="portfolio-details-container">

          <div class="owl-carousel portfolio-details-carousel">
            <img src="assets/img/portfolio/PlanYourMeals/plan_your_meals_1.JPG" class="img-fluid" alt="">
            <img src="assets/img/portfolio/PlanYourMeals/plan_your_meals_2.JPG" class="img-fluid" alt="">
            <img src="assets/img/portfolio/PlanYourMeals/plan_your_meals_3.JPG" class="img-fluid" alt="">
            <img src="assets/img/portfolio/PlanYourMeals/plan_your_meals_4.JPG" class="img-fluid" alt="">
            <img src="assets/img/portfolio/PlanYourMeals/plan_your_meals_5.JPG" class="img-fluid" alt="">
            <img src="assets/img/portfolio/PlanYourMeals/plan_your_meals_6.JPG" class="img-fluid" alt="">
            <img src="assets/img/portfolio/PlanYourMeals/plan_your_meals_7.JPG" class="img-fluid" alt="">
            <img src="assets/img/portfolio/PlanYourMeals/plan_your_meals_8.JPG" class="img-fluid" alt="">
            <img src="assets/img/portfolio/PlanYourMeals/plan_your_meals_9.JPG" class="img-fluid" alt="">
          </div>

          <div id="portfolio-info" class="portfolio-info">
            <h3>Informação acerca do Projeto</h3>
            <ul>
              <li><strong>Categoria</strong>: Web</li>
              <li><strong>Cliente</strong>: Vasco Gomes</li>
              <li><strong>Tecnologias Utilizadas</strong>: React, Spoonacular API</li>
            </ul>
          </div>

        </div>

        <div id="details" class="portfolio-description">
          <h2>Detalhes do Projeto</h2>
          <p>
            Este projeto foi realizado no contexto da unidade curricular de Tecnologias Web e Ambientes Móveis, foi a 
            primeira abordagem que tive com React, assim como desenvolvimento com bibliotecas de javascript para front-end.
          </p>
          <p>
            Para a realização do projeto foi utilizada a biblioteca de javascript <a href="https://react.dev/">React</a>, que em conjunto com a <a href="https://spoonacular.com/food-api/docs">API Spoonacular</a> 
            me permitiu construir um sistema web em que os objetivos são mostrar vários planos alimentares vindos da API na página inicial, e 
            de seguida realizar a criação de um plano alimentar personalizado com diversos tipos de alimentos e receitas disponibilizadas pela 
            API da Spoonacular, e ainda conseguir visualizar os planos alimentares criados e os seus detalhes.
          </p>

          <p>No meu <a href="https://github.com/VascoGomesWork?tab=repositories">GitHub</a>, está presente o <a href="https://github.com/VascoGomesWork/Plan_Your_Meals">front-end</a> deste projeto.</p>

          <p>
            Uma vez que não tinha nenhuma experiência com React, segui <a href="https://scrimba.com/learn/learnreact">este</a> curso do <a href="https://scrimba.com/dashboard#overview">Scrimba</a> que me ajudou a aprender a trabalhar com React e de 
            seguida a implementar neste projeto.
          </p>

          <p>
            De seguida pode ser visualizado o relatório da fase de análise e desenho deste projeto.
          </p>

          <!-- Relatório Trabalho -->
          <div id="draw" class="row no-gutters">
            <embed src="assets/TG1_19921.pdf" width="100%" height="2100px" />
          </div>
          <p></p>
          <p>
            Seguidamente pode ser visualizado o relatório da fase de implementação do projeto em questão.
          </p>

          <!-- Relatório Trabalho -->
          <div id="implementation" class="row no-gutters">
            <embed src="assets/Plan Your Meals - Vasco Gomes 19921.pdf" width="100%" height="2100px" />
          </div>

          <p></p>
          <p> Por último pode ser visualizado um vídeo de apresentação do trabalho.</p>

          <iframe id="youtube" width="960" height="535" src="https://www.youtube.com/embed/9sxdy1ewAFo?si=Xnp3kPPD8FiWPcUf" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/ -->
        
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="assets/vendor/counterup/counterup.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/venobox/venobox.min.js"></script>
  <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="assets/vendor/typed.js/typed.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

    <script>
    
    //Activate dark mode
    function changeDarkMode(){
        //// About ////
        document.getElementById('breadcrumbs').style.backgroundColor = '#05101e'
        document.getElementById('breadcrumbs').style.color = 'white'
        //// Facts ///
        document.getElementById('portfolio-details').style.backgroundColor = '#132132'
        document.getElementById('portfolio-details').style.color = 'white'
        
        document.getElementById('portfolio-info').style.backgroundColor = '#05101e'
        document.getElementById('portfolio-info').style.color = 'white'
        
        document.getElementById('footer').style.backgroundColor = '#132132'
        document.getElementById('footer').style.color = 'white'
        
        document.getElementById('html').style.backgroundColor = '#132132'
        
    }
    </script>
    
</html>